<h1>Medicaid Insights 2023</h1>

In [1]:
import pandas as pd

In [2]:
#Path to file
ca_drug_utilization_2023_path = '/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Resources/CA State Drug Utilization Data 2023.csv'

#Convert to Dataframe after reading file
ca_drug_util_df  = pd.DataFrame(pd.read_csv(ca_drug_utilization_2023_path))

#Convert to Dataframe
ca_drug_util_df.head()

,utilization_type,state,ndc,labeler_code,product_code,package_size,year,quarter,suppression_used,product_name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
0,MCOU,CA,2120001,2,1200,1,2023,2,True,AMYVID,NaN,NaN,NaN,NaN,NaN
1,FFSU,CA,2143380,2,1433,80,2023,2,False,TRULICITY,49499.0,19835.0,22344192.55,22036718.48,307474.07
2,MCOU,CA,2143380,2,1433,80,2023,2,False,TRULICITY,426.5,233.0,159352.27,159337.27,15.00
3,MCOU,CA,2143480,2,1434,80,2023,2,False,TRULICITY,347.5,176.0,156166.68,156166.68,0.00
4,FFSU,CA,2143480,2,1434,80,2023,2,False,TRULICITY,56843.5,21791.0,25647211.96,25241803.77,405408.19

In [3]:
utilization_type_abb = ca_drug_util_df['utilization_type'].unique().tolist()

#Create a table for reference of the abbrreviations
#Refer to /Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Resources/SDUD Field Descriptions.pdf
utiliz_type_abb_dict = {
    1: {'Type': 'MCOU',
        'Definition': 'Managed Care Organization Utilization',
        'Valid Values': '4Q2009 or earlier'},
    2: {'Type': 'FFSU',
        'Definition': 'Free-For-Service Utilization', 
        'Valid Values': ''}
}

#Creating dataframe from dict
utiliz_definition_df = pd.DataFrame(utiliz_type_abb_dict)

#View table
utiliz_definition_df.head()

,1,2
Type,MCOU,FFSU
Definition,Managed Care Organization Utilization,Free-For-Service Utilization
Valid Values,4Q2009 or earlier,

<h1>Clean up</h1>

In [4]:
#Drop rows without data (from 78708 to 47645)
ca_drug_util_df = ca_drug_util_df.dropna()

#Remove California & year since it is all the same state and year
ca_drug_util_df = ca_drug_util_df.drop(
    columns=['state',
             'year',
             'ndc',
             'labeler_code',
             'product_code'])

#Change column type to boolean
ca_drug_util_df['suppression_used'] = ca_drug_util_df['suppression_used'].astype(bool)

#Replace True and False with 0 and 1
ca_drug_util_df['suppression_used'] = ca_drug_util_df['suppression_used'].replace({True:1,False:0})

ca_drug_util_df.head()

/var/folders/m_/c3cfft1d34jg2yvx6z3cv29h0000gn/T/ipykernel_43788/2500591709.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ca_drug_util_df['suppression_used'] = ca_drug_util_df['suppression_used'].replace({True:1,False:0})

,utilization_type,package_size,quarter,suppression_used,product_name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
1,FFSU,80,2,0,TRULICITY,49499.0,19835.0,22344192.55,22036718.48,307474.07
2,MCOU,80,2,0,TRULICITY,426.5,233.0,159352.27,159337.27,15.00
3,MCOU,80,2,0,TRULICITY,347.5,176.0,156166.68,156166.68,0.00
4,FFSU,80,2,0,TRULICITY,56843.5,21791.0,25647211.96,25241803.77,405408.19
5,FFSU,1,2,0,EMGALITY,17.0,16.0,11379.76,11379.76,0.00

In [25]:
#White Space remover function
#https://www.geeksforgeeks.org/pandas-strip-whitespace-from-entire-dataframe/
def whitespace_remover(dataframe):
 
    # iterating over the columns
    for i in dataframe.columns:
 
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
 
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
 
            # if condn. is False then it will do nothing.
            pass


#Remove the spaces in the dataframe
whitespace_remover(ca_drug_util_df)

#List of drug products, sorted in alphabetical order
product_list = sorted(list(ca_drug_util_df['product_name'].unique()))

ca_drug_util_df.to_json(f'/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Jupyter Output/Medicaid_2023_Dataset.json',
                           orient='columns'
                           #index=True
                           )

#View list with no spaces at the end
product_list

['.12% CHLOR',
 '0.12% CHLO',
 '0.15% KCL',
 '0.25 ACETI',
 '0.25% ACET',
 '0.30% KCL',
 '0.4% LIDOC',
 '0.45% SODI',
 '0.8% LIDOC',
 '0.9% SODIU',
 '10% DEXTRO',
 '10% TRAVAS',
 '12 HOUR NA',
 '15% CLINIS',
 '1G/50ML CE',
 '20% PROSOL',
 '20MEQ KCL/',
 '20MEQ POTA',
 '2G/50ML CE',
 '3 DAY VAGI',
 '3% SODIUM',
 '5% DEXTROS',
 '5% SODIUM',
 '506070% DE',
 '70% DEXTRO',
 '8 HOUR ER',
 '8.4% SODIU',
 'AACETAMINP',
 'ABACAVIR 3',
 'ABACAVIR O',
 'ABACAVIR S',
 'ABACAVIR T',
 'ABACAVIR-L',
 'ABILIFY',
 'ABILIFY MA',
 'ABIRATER A',
 'ABIRATERON',
 'ABRAXANE 1',
 'ABSORICA C',
 'ABSORICA L',
 'ACAMPROSAT',
 'ACARBOSE 1',
 'ACARBOSE 2',
 'ACARBOSE 5',
 'ACARBOSE T',
 'ACCRUFER/3',
 'ACCUTANE 1',
 'ACCUTANE 2',
 'ACCUTANE 3',
 'ACCUTANE 4',
 'ACEBUTOLOL',
 'ACETAM 650',
 'ACETAMIN T',
 'ACETAMINOP',
 'ACETAZOLAM',
 'ACETIC ACI',
 'ACETYLCYST',
 'ACID GONE',
 'ACITRETIN',
 'ACTEMRA 20',
 'ACTEMRA 40',
 'ACTEMRA 80',
 'ACTEMRA PE',
 'ACTEMRA SC',
 'ACTIMMUNE',
 'ACTIVASE',
 'ACULAR .5%',
 'ACULAR LS',
 'ACUVAIL 0.',
 'ACYCLOVIR',
 'ADAKVEO VI',
 'ADAPALENE',
 'ADAPALENE-',
 'ADAPALENE/',
 'ADBRY  1 C',
 'ADBRY  2 C',
 'ADCETRIS',
 'ADCIRCA  T',
 'ADDED STRE',
 'ADDERALL T',
 'ADDERALL X',
 'ADEFOVIR D',
 'ADEMPAS 0.',
 'ADEMPAS 1.',
 'ADEMPAS 1M',
 'ADEMPAS 2.',
 'ADEMPAS 2M',
 'ADENOSINE',
 'ADLYXIN 20',
 'ADMELOG SO',
 'ADMELOG VI',
 'ADRENALIN',
 'ADRIAMCYIN',
 'ADVAIR DIS',
 'ADVAIR HFA',
 'ADVATE 2ML',
 'ADVATE 5ML',
 'ADYNOVATE',
 'ADZENYS XR',
 'AFINITOR D',
 'AFINITOR T',
 'AFREZZA 18',
 'AFREZZA 90',
 'AFREZZA IN',
 'AFREZZA180',
 'AG HYOSCYA',
 'AHP AZITHR',
 'AHP CALCIT',
 'AHP DOXYCY',
 'AHP POTASS',
 'AHP QUETIA',
 'AHP SULFA/',
 'AIMOVIG  E',
 'AIRDUO 113',
 'AIRDUO DIG',
 'AJOVY  FRE',
 'AJOVY 225M',
 'AK-FLUOR',
 'AKOVAZ  EP',
 'AKOVAZ-EPH',
 'AKYNZEO',
 'AKYNZEO IV',
 'AKYNZEO LI',
 'ALAWAY  KE',
 'ALBENDAZOL',
 'ALBU SUL H',
 'ALBUKED 25',
 'ALBUMIN 25',
 'ALBUMIN HU',
 'ALBUMINEX',
 'ALBUTEIN 2',
 'ALBUTEIN 5',
 'ALBUTEIN F',
 'ALBUTEROL',
 'ALCAINE',
 'ALCLOMETAS',
 'ALCON TEAR',
 'ALDURAZYME',
 'ALECENSA 1',
 'ALENDRONAT',
 'ALFENTA 2M',
 'ALFUZOSIN',
 'ALIMTA',
 'ALISKIREN',
 'ALKINDI SP',
 'ALL DAY AL',
 'ALLERCHLOR',
 'ALLERGY RE',
 'ALLOPURINO',
 'ALMACONE D',
 'ALMOTRIPTA',
 'ALOGLIPTIN',
 'ALOMIDE',
 'ALOXI .25M',
 'ALPHAGAN P',
 'ALPHANATE',
 'ALPRAZOLAM',
 'ALPROLIX 1',
 'ALPROLIX 2',
 'ALPROLIX 3',
 'ALPROLIX 4',
 'ALPROLIX 5',
 'ALREX  LOT',
 'ALTAVERA O',
 'ALTRENO LO',
 'ALUM-MAG H',
 'ALUMINUM H',
 'ALVESCO IN',
 'ALYMSYS  B',
 'AMANTADINE',
 'AMBIEN 10M',
 'AMBISOME L',
 'AMBRISENTA',
 'AMELUZ',
 'AMETHYST 0',
 'AMETHYST 9',
 'AMIDATE  E',
 'AMIKACIN 1',
 'AMIKACIN 5',
 'AMIKACIN S',
 'AMILORIDE',
 'AMINO ACID',
 'AMINOCAPRO',
 'AMINOPHYLL',
 'AMINOSYN I',
 'AMIODARONE',
 'AMITIZA  L',
 'AMITRIPTY',
 'AMITRIPTYL',
 'AMJEVITA',
 'AMLOD/OLME',
 'AMLODIP BE',
 'AMLODIPINE',
 'AMNESTEEM',
 'AMOCLAN 20',
 'AMOCLAN 40',
 'AMOCLAN 60',
 'AMOCLAN OR',
 'AMONDYS 45',
 'AMOX & CLA',
 'AMOX C XR',
 'AMOX CLAV',
 'AMOXIC CLA',
 'AMOXICI CL',
 'AMOXICILLA',
 'AMOXICILLI',
 'AMOXICLLIN',
 'AMPHETAMIN',
 'AMPHOTERIC',
 'AMPICILLIN',
 'AMPYRA',
 'AMZEEQ',
 'AMZEEQ FOA',
 'ANAGRELIDE',
 'ANASTRAZOL',
 'ANASTROZOL',
 'ANDRODERM',
 'ANDROGEL 1',
 'ANECTINE',
 'ANECTINE 2',
 'ANGELIQ 0.',
 'ANNOVERA',
 'ANORO ELLI',
 'ANTACID /',
 'ANTACID EX',
 'ANTACID RS',
 'ANTACID TA',
 'ANTI DIARR',
 'ANTI-DIARR',
 'ANTIFUNGAL',
 'ANTIVERT',
 'ANUSOL-HC',
 'APAP 160MG',
 'APAP 325MG',
 'APAP ARTHR',
 'APAP CHERR',
 'APAP CHILD',
 'APAP ES 50',
 'APAP WITH',
 'APAP X-STR',
 'APIDRA 10M',
 'APIDRA 3ML',
 'APLENZIN 1',
 'APLENZIN 3',
 'APLENZIN E',
 'APLISOL 1M',
 'APRACLONID',
 'APREPIT.CA',
 'APREPITANT',
 'APRETUDE',
 'APRI 28 DA',
 'APRISO',
 'APRODINE',
 'APRODINE P',
 'APTIOM 200',
 'APTIOM 400',
 'APTIOM 600',
 'APTIOM 800',
 'ARANELLE T',
 'ARANESP  D',
 'ARAZLO LOT',
 'ARCALYST R',
 'ARFORMOTER',
 'ARIKAYCE',
 'ARIPIPRAZO',
 'ARISTADA 1',
 'ARISTADA 4',
 'ARISTADA 6',
 'ARISTADA 8',
 'ARISTADA I',
 'ARMODAFINI',
 'ARMONAIR D',
 'ARMOUR THY',
 'ARNUITY  F',
 'ARNUITY EL',
 'ARORVASTAT',
 'ARSENIC TR',
 'ARTHRITIS',
 'ARTIFICIAL',
 'ASCLERA 1.',
 'ASCOMP W/',
 'ASENAPINE',
 'ASHLYNA TA',
 'ASMANEX HF',
 'ASMANEX TW',
 'ASPARLAS',
 'ASPI&ER DI',
 'ASPIR+DIP',
 'ASPIRIN',
 'ASPIRIN &',
 'ASPIRIN 32',
 'ASPIRIN 81',
 'ASPIRIN AN',
 'ASPIRIN CH',
 'ASPIRIN DE',
 'ASPIRIN EC',
 'ASPIRIN FC',
 'ASPIRIN LO',
 'ASTAGRAF X',
 'ATAZANAVIR',
 'ATENOL+CHL',
 'ATENOLOL +',
 'ATENOLOL 1',
 'ATENOLOL 2',
 'ATENOLOL 5',
 'ATENOLOL C',
 'ATENOLOL O',
 'ATENOLOL T',
 'ATENOLOL/C',
 "ATHLETE'S",
 'ATIVAN 0.5',
 'ATIVAN 1MG',
 'ATIVAN INJ',
 'ATOMOXETIN',
 'ATORVAST C',
 'ATORVASTAS',
 'ATORVASTAT',
 'ATOVAQ/PRO',
 'ATOVAQU OS',
 'ATOVAQUONE',
 'ATROPINE 8',
 'ATROPINE D',
 'ATROPINE I',
 'ATROPINE M',
 'ATROPINE O',
 'ATROPINE S',
 'ATROVENT H',
 'AUBAGIO 14',
 'AUBAGIO 7',
 'AUBRA EQ',
 'AUG BETAME',
 'AUGMENTIN',
 'AUROVELA 1',
 'AUROVELA 2',
 'AUROVELA_F',
 'AURYXIA OR',
 'AUSTEDO  T',
 'AUVELITY',
 'AUVI-Q .15',
 'AUVI-Q .1M',
 'AUVI-Q .3M',
 'AVASTIN  B',
 'AVEED  TES',
 'AVIANE TAB',
 'AVONEX  IN',
 'AVONEX PRE',
 'AVSOLA  IN',
 'AVYCAZ  CE',
 'AVYCAZ INN',
 'AZACITIDIN',
 'AZACTAM',
 'AZASITE',
 'AZASITE  A',
 'AZATHIOPRI',
 'AZEL-FLUE',
 'AZELAIC AC',
 'AZELASTINE',
 'AZITHROMYC',
 'AZOPT SUSP',
 'AZSTARYS',
 'AZTREONAM',
 'AZURETTE T',
 'B/ASP/C 50',
 'BAC ZINC/P',
 'BAC;LOFEN',
 'BACITRACIN',
 'BACLOFEN',
 'BACLOFEN 1',
 'BACLOFEN 2',
 'BACLOFEN 5',
 'BACLOFEN O',
 'BACLOFEN T',
 'BACLOFEN,',
 'BAFIERTAM',
 'BALCOLTRA',
 'BALSALAZID',
 'BALZIVA TA',
 'BANOPHEN',
 'BANOPHEN 2',
 'BANZEL 200',
 'BANZEL ORA',
 'BANZEL TAB',
 'BAQSIMI',
 'BARACLUDE',
 'BASAGLAR',
 'BASAGLAR T',
 'BAVENCIO',
 'BAXDELA 45',
 'BECONASE A',
 'BELBUCA 15',
 'BELBUCA 30',
 'BELBUCA 45',
 'BELBUCA 60',
 'BELBUCA 75',
 'BELBUCA 90',
 'BELEODAQ 5',
 'BELLADONNA',
 'BELRAPZO B',
 'BELSOMRA 1',
 'BELSOMRA 2',
 'BELSOMRA 5',
 'BENAPHEN',
 'BENAZEPRIL',
 'BENDEKA 10',
 'BENEFIX RT',
 'BENLYSTA L',
 'BENLYSTA S',
 'BENTYL INJ',
 'BENZAMYCIN',
 'BENZONATAT',
 'BENZOYL PE',
 'BENZTROPIN',
 'BEPOTASTIN',
 'BEPREVE  B',
 'BESIVANCE',
 'BETA NAPO4',
 'BETADINE',
 'BETAMETH D',
 'BETAMETH V',
 'BETAMETHA',
 'BETAMETHAS',
 'BETAMETHSO',
 'BETASERON',
 'BETAXOLOL',
 'BETHAMETH',
 'BETHANECHO',
 'BETHAPRIM',
 'BETIMOL  T',
 'BETIMOL 0.',
 'BETOPTIC S',
 'BEVESPI AE',
 'BEYAZ',
 'BICALUTAM',
 'BICALUTAMI',
 'BICILLIN C',
 'BICILLIN L',
 'BIDIL 90CT',
 'BIJUVA1MG/',
 'BIKTARVY',
 'BIKTARVY 3',
 'BIKTARVY B',
 'BIMATOPROS',
 'BION TEARS',
 'BISACODYL',
 'BISMUTH SU',
 'BISOPROL F',
 'BISOPROLOL',
 'BIVALIRUDI',
 'BIVIGAM 10',
 'BLEOMYCIN',
 'BLINCYTO',
 'BLISOVI 24',
 'BLISOVI FE',
 'BLOXIVERZ',
 'BONJESTA',
 'BORTEZOMIB',
 'BOSENTAN T',
 'BOSULIF BO',
 'BOTOX BOTU',
 'BOTOX COSM',
 'BP 10-1 WA',
 'BPL DIVALP',
 'BRAFTOVI 7',
 'BREO ELLIP',
 'BREVIBLOC',
 'BREXAFEMME',
 'BREZTRI 16',
 'BRIDION 10',
 'BRIDION 50',
 'BRILINTA 6',
 'BRILINTA 9',
 'BRIMONIDIN',
 'BRINZOLAMI',
 'BRIVIACT',
 'BROMFED DM',
 'BROMFENAC',
 'BROMOCRIPT',
 'BROMPHENIR',
 'BROMSITE O',
 'BROVANA',
 'BRUKINSA',
 'BSS',
 'BSS PLUS',
 'BUBROPION',
 'BUDE INH S',
 'BUDESON IN',
 'BUDESONIDE',
 'BUMENTANID',
 'BUMETANIDE',
 'BUP/NAL 2M',
 'BUP/NAL 8M',
 'BUPIV SPIN',
 'BUPIVACAIN',
 'BUPREN&NAL',
 'BUPRENORPH',
 'BUPROPION',
 'BUPROPIONH',
 'BUSPIRONE',
 'BUSPIRONEH',
 'BUT / APAP',
 'BUTA+AC+CA',
 'BUTAL/AP/C',
 'BUTAL/APAP',
 'BUTALBITAL',
 'BUTENAFINE',
 'BUTORPHANO',
 'BUTRANS  B',
 'BYDUREON B',
 'BYETTA 250',
 'BYOOVIZ 0.',
 'BYSTOLIC 1',
 'BYSTOLIC 2',
 'BYSTOLIC 5',
 'CABENUVA I',
 'CABERGOLIN',
 'CABIDOPA A',
 'CABOMETYX',
 'CAFFEINE C',
 'CAL-GEST A',
 'CALAMINE L',
 'CALCIPOTIE',
 'CALCIPOTR/',
 'CALCIPOTRI',
 'CALCITONIN',
 'CALCITRIOL',
 'CALCIUM AC',
 'CALCIUM AN',
 'CALCIUM CA',
 'CALCIUM CH',
 'CALCIUM EX',
 'CALCIUM GL',
 'CALCIUM PO',
 'CALCIUM RE',
 'CALICUM CH',
 'CALQUENCE',
 'CAMILA TAB',
 'CAMPTOSAR',
 'CAMRESE  T',
 'CAMRESE LO',
 'CAMZYOS 5M',
 'CANASA 1G',
 'CANDESARTA',
 'CAPECITABI',
 'CAPLYTA',
 'CAPLYTA 42',
 'CAPLYTA CA',
 'CAPTOPRIL',
 'CARAFATE S',
 'CARBA SUSP',
 'CARBAGLU T',
 'CARBAMAZE',
 'CARBAMAZEP',
 'CARBAMZEPI',
 'CARBATROL',
 'CARBI/LEVO',
 'CARBIDO/LE',
 'CARBIDOPA',
 'CARBIDOPA+',
 'CARBIDOPA-',
 'CARBIDOPA/',
 'CARBINOXAM',
 'CARBOPLATI',
 'CARBOXYMET',
 'CARDIOLITE',
 'CARDIZEM L',
 'CARDURA XL',
 'CARISOPROD',
 'CARNITOR',
 'CARNITOR S',
 'CAROSPIR',
 'CARTEOLOL',
 'CARTIA XT',
 'CARVEDILOL',
 'CATHFLO AC',
 'CAYSTON  A',
 'CEFACLOR C',
 'CEFADROXIL',
 'CEFAZOLIN',
 'CEFDINIR',
 'CEFDINIR 3',
 'CEFDINIR C',
 'CEFDINIR F',
 'CEFDINIR O',
 'CEFEPIME F',
 'CEFEPIME H',
 'CEFEPIME I',
 'CEFEPIME P',
 'CEFIXIME 4',
 'CEFIXIME F',
 'CEFIXIME O',
 'CEFOTETAN',
 'CEFOXITIN',
 'CEFPODOXIM',
 'CEFPROZIL',
 'CEFTAZIDIM',
 'CEFTRIAXON',
 'CEFUROXIME',
 'CELEBREX 1',
 'CELEBREX 2',
 'CELECOXIB',
 'CELESTONE',
 'CELEXA  20',
 'CELEXA 40M',
 'CELLCEPT 5',
 'CELLCEPT C',
 'CELLUVISC',
 'CEPHALEXIN',
 'CEPROTIN -',
 'CEQUA  CYC',
 'CERDELGA',
 'CEREZYME',
 'CETIRIZINE',
 'CEVIMELINE',
 'CHANTIX  V',
 'CHATEAL EQ',
 'CHENODAL 2',
 'CHEST CONG',
 'CHILD ALL',
 'CHILD ALLE',
 'CHILD IBUP',
 "CHILD'S IB",
 'CHILDREN I',
 "CHILDREN'S",
 'CHILDRENS',
 'CHLORDIAZE',
 'CHLORHEXID',
 'CHLOROQUIN',
 'CHLORPHENI',
 'CHLORPROMA',
 'CHLORTALID',
 'CHLORTHALI',
 'CHLORZOXAZ',
 'CHOLBAM CA',
 'CHOLESTYRA',
 'CHORIONIC',
 'CHROMIUM T',
 'CIBINQO 10',
 'CICLOPIROX',
 'CICLPPIROX',
 'CILOSTAZOL',
 'CILOXAN OI',
 'CIMERLI  R',
 'CIMETIDINE',
 'CIMZIA',
 'CIMZIA PRE',
 'CIMZIA STA',
 'CINACALCET',
 'CINCACALCE',
 'CINVANTI',
 'CIPRO DEX',
 'CIPRO HC O',
 'CIPRO ORAL',
 'CIPRO+DEXA',
 'CIPRODEX O',
 'CIPROFLOX',
 'CIPROFLOXA',
 'CISATRACUR',
 'CISPLATIN',
 'CITALOPRAM',
 'CITRANATAL',
 'CLARAVIS C',
 'CLARINEX D',
 'CLARISCAN',
 'CLARITHROM',
 'CLEAR NICO',
 'CLEARLAX',
 'CLEARLAX P',
 'CLEMASTINE',
 'CLENPIQ SO',
 'CLEOCIN PH',
 'CLEOCIN VA',
 'CLIMARA PR',
 'CLIMARA: E',
 'CLIND PHO/',
 'CLINDA. PH',
 'CLINDAMY H',
 'CLINDAMY P',
 'CLINDAMYCI',
 'CLINDEMYCI',
 'CLINDESSE',
 'CLINIMIX 5',
 'CLINIMIX 8',
 'CLINIMIX E',
 'CLINIMIXE',
 'CLINOLIPID',
 'CLOBAZAM',
 'CLOBAZAM 1',
 'CLOBAZAM 2',
 'CLOBAZAM O',
 'CLOBAZAM S',
 'CLOBAZAM T',
 'CLOBESTASO',
 'CLOBET PRO',
 'CLOBETA PR',
 'CLOBETASOL',
 'CLOCORTOLO',
 'CLOMID TAB',
 'CLOMIPRAM',
 'CLOMIPRAMI',
 'CLONAZEPAM',
 'CLONIDINE',
 'CLOPIDOGRE',
 'CLORAZAPIN',
 'CLORAZE DI',
 'CLORAZEPAT',
 'CLOTRIM 3',
 'CLOTRIMAZO',
 'CLOZAPINE',
 'CLOZARIL T',
 'COCAINE HY',
 'CODEINE -',
 'CODEINE PH',
 'CODEINE SU',
 'CODEINE-GU',
 'COLACE 100',
 'COLACE 2 I',
 'COLACE CLE',
 'COLCHICINE',
 'COLCRYS 0.',
 'COLD & FLU',
 'COLESEVELA',
 'COLESTIPOL',
 'COLISTIMET',
 'COMBIGAN 0',
 'COMBIPATCH',
 'COMBIVENT',
 'COMPLERA',
 'COMPLETE N',
 'COMPLETENA',
 'COMPRO  PR',
 'CONCENTRAT',
 'CONCERTA 1',
 'CONCERTA 2',
 'CONCERTA 3',
 'CONCERTA 5',
 'CONDYLOX 0',
 'CONSTULOSE',
 'CONTRAVE',
 'COPAXONE',
 'COPAXONE L',
 'COPPER TRA',
 'COREG CARV',
 'COREG CR C',
 'CORLANOR',
 'CORTEF 10M',
 'CORTEF 5MG',
 'CORTIFOAM',
 'CORTISPORI',
 'CORTROSYN',
 'COSELA  TR',
 'COSENTYX S',
 'COSOPT',
 'COSOPT PF',
 'COSYNTROPI',
 'COTELLIC 2',
 'COTEMPLA X',
 'COUGH & CO',
 'COUGH DM 1',
 'COZAAR 25M',
 'COZAAR 50M',
 'CPL CLOTRI',
 'CPL HC 1%',
 'CPL HC CRE',
 'CPRFLXNHCL',
 'CREON  PAN',
 'CREON 12,0',
 'CREON 24,0',
 'CREON 6,00',
 'CRESEMBA 1',
 'CRESEMBA 3',
 'CRESTOR  R',
 'CRESTOR TA',
 'CRINONE 8%',
 'CROMOLYN 2',
 'CROMOLYN S',
 'CROTAN EXT',
 'CRYSVITA 1',
 'CRYSVITA 2',
 'CRYSVITA 3',
 'CRYTSELLE',
 'CUBICIN 50',
 'CUBICIN RF',
 'CUVITRU 10',
 'CUVITRU 1G',
 'CUVITRU 2G',
 'CUVITRU 4G',
 'CUVITRU 8G',
 'CUVPOSA OR',
 'CYANOCBALA',
 'CYANOCOB V',
 'CYANOCOBAL',
 'CYCLO 50MG',
 'CYCLOBENZA',
 'CYCLOGYL 0',
 'CYCLOGYL 1',
 'CYCLOMYDRI',
 'CYCLOPENTO',
 'CYCLOPHOSP',
 'CYCLOSET 0',
 'CYCLOSPORI',
 'CYKLOKAPRO',
 'CYMBALTA',
 'CYPROHEPTA',
 'CYRAMZA',
 'CYRED EQ',
 'CYSTADANE',
 'CYSTADROPS',
 'CYSTARAN',
 'CYTARABINE',
 'CYTOMEL  5',
 'CYTOMEL 25',
 'CYTOTEC 20',
 'DABIGATRAN',
 'DACARBAZIN',
 'DALFAMPRID',
 'DALIRESP 2',
 'DALIRESP 5',
 'DALVANCE 5',
 'DANAZOL CA',
 'DANTROLENE',
 'DAPSONE',
 'DAPSONE 10',
 'DAPSONE 7.',
 'DAPSONE GE',
 'DAPSONE TO',
 'DAPTOMYCIN',
 'DARIFENACI',
 'DARIFFENAC',
 'DARZALEX',
 'DARZALEX F',
 'DASETTA 1-',
 'DASETTA 7/',
 'DAYBUE ORA',
 'DAYSEE  LE',
 'DAYTRANA 2',
 'DAYTRANA 3',
 'DAYVIGO',
 'DDAVP 4MCG',
 'DEBLITANE',
 'DECITABINE',
 'DEFERASIRO',
 'DEFEROXAMI',
 'DEFINITY V',
 'DEHYDRATED',
 'DELESTROGE',
 'DELSTRIGO',
 'DELZICOL D',
 'DEMECLOCYC',
 'DEMEROL ME',
 'DENTA 5000',
 'DENTAGEL 1',
 'DEPAKOTE 1',
 'DEPAKOTE 2',
 'DEPAKOTE 5',
 'DEPAKOTE E',
 'DEPAKOTE S',
 'DEPO PROVE',
 'DEPO-ESTRA',
 'DEPO-MEDRO',
 'DEPO-PROVE',
 'DEPO-SUBQ',
 'DEPO-TESTO',
 'DERMA-SMOO',
 'DERMOTIC O',
 'DESCOVY 12',
 'DESCOVY 20',
 'DESETHEST',
 'DESFLURANE',
 'DESIPRAMIN',
 'DESLORATAD',
 'DESMOPRESS',
 'DESOGESTRE',
 'DESONIDE .',
 'DESONIDE C',
 'DESONIDE L',
 'DESONIDE O',
 'DESOXIMETA',
 'DESPRAMINE',
 'DESVENLAFA',
 'DESVENLAFZ',
 'DEX SAC/AM',
 'DEXA INT .',
 'DEXA SOL .',
 'DEXAMETHA',
 'DEXAMETHAS',
 'DEXAMTHEAS',
 'DEXILANT 3',
 'DEXILANT 6',
 'DEXLANSOPR',
 'DEXMEDETOM',
 'DEXMETHASO',
 'DEXMETHYLP',
 'DEXTROAMPE',
 'DEXTROAMPH',
 'DEXTROMETH',
 'DEXTROSE 2',
 'DEXTROSE 5',
 'DEXTROSE 7',
 'DEXTROSE I',
 'DF CHILDRE',
 'DIACOMIT 2',
 'DIACOMIT 5',
 'DIALYVITE',
 'DIASTAT AC',
 'DIAZEPAM 1',
 'DIAZEPAM 2',
 'DIAZEPAM 5',
 'DIAZEPAM C',
 'DIAZEPAM I',
 'DIAZEPAM R',
 'DIAZEPAM T',
 'DIAZOXIDE',
 'DIBROMM CO',
 'DICLEGIS',
 'DICLOFENAC',
 'DICLOFFENA',
 'DICLOFN SO',
 'DICLOXACIL',
 'DICOLFENAC',
 'DICYCLOMIN',
 'DIETHYLPRO',
 'DIFICID TA',
 'DIFLORASON',
 'DIFLUCAN',
 'DIFLUNISAL',
 'DIFLUPREDN',
 'DIGOXIN 0.',
 'DIGOXIN 12',
 'DIGOXIN 25',
 'DIGOXIN 50',
 'DIGOXIN EL',
 'DIGOXIN IJ',
 'DIGOXIN OR',
 'DIGOXIN TA',
 'DIHYDROE M',
 'DIHYDROERG',
 'DILANTIN 1',
 'DILANTIN 3',
 'DILANTIN I',
 'DILAUDID H',
 'DILAUDID I',
 'DILAUDID L',
 'DILTIAZ HC',
 'DILTIAZEM',
 'DIMENHYDRI',
 'DIMETHYL F',
 'DIOVAN   V',
 'DIPHEDRYL',
 'DIPHENHIST',
 'DIPHENHYDR',
 'DIPHENOX/A',
 'DIPHENOXYL',
 'DIPRIVAN',
 'DIPRIVAN 1',
 'DIPYRIDAMO',
 'DISOPYRAMI',
 'DISULFIRAM',
 'DIURIL ORA',
 'DIVALP SOD',
 'DIVALPROEX',
 'DIVIGEL  E',
 'DOBUTAMINE',
 'DOCETAXEL',
 'DOCOSANOL',
 'DOCUSATE C',
 'DOCUSATE M',
 'DOCUSATE S',
 'DOCUSOL KI',
 'DOCUSSODSF',
 'DOFETILIDE',
 'DOJOLVI 0.',
 'DOK 100MG',
 'DONEPEZIL',
 'DOPAMINE H',
 'DOPTELET',
 'DORYX MPC',
 'DORYX-MPC',
 'DORZOLAMID',
 'DOTTI  EST',
 'DOUBLE ANT',
 'DOVATO TAB',
 'DOXAZOSIN',
 'DOXEPIN 3M',
 'DOXEPIN 6M',
 'DOXEPIN CA',
 'DOXEPIN HC',
 'DOXEPIN HY',
 'DOXEPIN TA',
 'DOXERCALCI',
 'DOXOR INJ',
 'DOXORUBICI',
 'DOXPEIN HC',
 'DOXY 100',
 'DOXY DR 10',
 'DOXY MONO',
 'DOXYCYCLIN',
 'DOXYLAMINE',
 'DRIMINATE',
 'DRL CET 10',
 'DRL CETIRI',
 ...]

<h2>Creating a Table Based on Quarter</h2>

In [6]:
#Create a list that contains the quarters
quarters = list(ca_drug_util_df['quarter'].unique())

#Create empty list for newly generated dataframes
quarter_df_list = []

#Create a loop that creates df filtered by the quarter
for quarter in quarters:
    globals()[f"quarter{quarter}_df"] = ca_drug_util_df[ca_drug_util_df['quarter']==quarter]
    quarter_df_list.append(globals()[f"quarter{quarter}_df"])

#View list, dataframe info and dataframe
#print(quarter_df_list)
print(quarter1_df.info())
quarter2_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 24756 entries, 38621 to 78705
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   utilization_type                24756 non-null  object
 1   package_size                    24756 non-null  int64
 2   quarter                         24756 non-null  int64
 3   suppression_used                24756 non-null  int64
 4   product_name                    24756 non-null  object
 5   Units Reimbursed                24756 non-null  float64
 6   Number of Prescriptions         24756 non-null  float64
 7   Total Amount Reimbursed         24756 non-null  float64
 8   Medicaid Amount Reimbursed      24756 non-null  float64
 9   Non-medicaid Amount Reimbursed  24756 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.1+ MB
None

,utilization_type,package_size,quarter,suppression_used,product_name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
1,FFSU,80,2,0,TRULICITY,49499.0,19835.0,22344192.55,22036718.48,307474.07
2,MCOU,80,2,0,TRULICITY,426.5,233.0,159352.27,159337.27,15.00
3,MCOU,80,2,0,TRULICITY,347.5,176.0,156166.68,156166.68,0.00
4,FFSU,80,2,0,TRULICITY,56843.5,21791.0,25647211.96,25241803.77,405408.19
5,FFSU,1,2,0,EMGALITY,17.0,16.0,11379.76,11379.76,0.00

In [7]:
quarter_df_list[1]

,utilization_type,package_size,quarter,suppression_used,product_name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
38621,FFSU,1,1,0,TRULICITY,186.0,89.0,83505.18,83505.18,0.00
38622,FFSU,80,1,0,TRULICITY,60729.5,24167.0,27024535.40,26706893.50,317641.90
38623,MCOU,80,1,0,TRULICITY,399.5,206.0,188462.66,188462.66,0.00
38624,FFSU,1,1,0,TRULICITY,212.5,105.0,95403.45,95403.45,0.00
38625,MCOU,80,1,0,TRULICITY,424.0,204.0,202993.42,202993.42,0.00
...,...,...,...,...,...,...,...,...,...,...
78697,FFSU,10,1,0,ABIRATERON,3180.0,20.0,5057.57,5057.57,0.00
78698,FFSU,10,1,0,ABIRATERON,1200.0,18.0,84628.40,84628.40,0.00
78701,FFSU,3,1,0,AZASITE A,267.5,90.0,26519.15,25924.20,594.95
78702,FFSU,30,1,0,COSOPT PF,840.0,12.0,2644.95,2644.95,0.00
78705,FFSU,30,1,0,ZIOPTAN T,468.0,37.0,12406.90,12406.90,0.00

<h1>Product Insights</h1>

In [8]:
#Create list for groupby data
product_df_list = []

#Loop through dataframes in list to group multiple dataframes by the same criteria
for df in range(len(quarter_df_list)):
    #Groupby product name
    globals()[f"product_qt_{df+1}"] = quarter_df_list[df].groupby(['product_name']).sum()

    #Reset the multiindex to single index
    #globals()[f"product_qt_{df+1}"] = globals()[f"product_qt_{df+1}"].reset_index() #(names='product_name')

    #Set product name as column
    #globals()[f"product_qt_{df+1}"] = globals()[f"product_qt_{df+1}"].set_index('product_name')
    
    # set the index to 'None' via its name property
    #globals()[f"product_qt_{df+1}"].index.names = [None]
    
    #Delete Unneeded columns
    del globals()[f"product_qt_{df+1}"]['quarter']
    del globals()[f"product_qt_{df+1}"]['suppression_used']
    del globals()[f"product_qt_{df+1}"]['utilization_type']

    #Create new column with the quarter information
    #globals()[f"product_qt_{df+1}"]['quarter'] = df+1

    # globals()[f"product_qt_{df+1}"].pivot(index='product_name')

    #Append the product dataframes to a list
    product_df_list.append(globals()[f"product_qt_{df+1}"])

    #Save dataframes as a .csv
    name = 'Product_Data'
    globals()[f"product_qt_{df+1}"].to_csv(f'/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Jupyter Output/{name}_Q{df+1}')

product_qt_1.head()

,package_size,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
product_name,,,,,,
.12% CHLOR,32,1.980198e+07,38694.0,520255.17,519649.01,606.16
0.12% CHLO,38,3.534400e+04,284.0,3276.44,3276.44,0.00
0.15% KCL,0,6.483420e+05,513.0,43506.65,2379.12,41127.53
0.25 ACETI,4,7.820000e+04,30.0,871.58,861.98,9.60
0.25% ACET,10,2.397000e+05,89.0,3458.49,3458.49,0.00

In [22]:
#Group the product dataframes from each quarter together
grouped_product_df = pd.concat(product_df_list)

#Group by product name
group_product_df = grouped_product_df.groupby(['product_name']).sum()


#Reset index
group_product_df = group_product_df.reset_index(col_level=0,names='product_name')

#Save dataframe as csv
name = 'Product_Data_2023'
group_product_df.to_json(f'/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Jupyter Output/{name}.json',
                           orient='columns'
                           #index=True
                           )
# group_product_df.to_csv(f'/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Jupyter Output/{name}.csv',
#                           # orient='columns', 
#                            #lines=True
#                            )


#View information of dataframe
group_product_df.head()

,product_name,package_size,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
0,.12% CHLOR,64,41085359.59,81669.0,1092399.50,1091230.36,1169.14
1,0.12% CHLO,72,74783.00,562.0,13868.35,6498.35,7370.00
2,0.15% KCL,0,1956724.00,1351.0,104761.01,7431.26,97329.75
3,0.25 ACETI,8,151750.00,68.0,1793.88,1784.28,9.60
4,0.25% ACET,20,381200.00,141.0,5334.59,5334.59,0.00

In [15]:
#Group by product name
avg_product_df = grouped_product_df.groupby(['product_name']).mean()

#Reset index
avg_product_df = avg_product_df.reset_index() #(col_level=0,names='product_name')

#View information of dataframe
avg_product_df.head()

,product_name,package_size,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
0,.12% CHLOR,32.0,2.054268e+07,40834.5,546199.750,545615.180,584.570
1,0.12% CHLO,36.0,3.739150e+04,281.0,6934.175,3249.175,3685.000
2,0.15% KCL,0.0,9.783620e+05,675.5,52380.505,3715.630,48664.875
3,0.25 ACETI,4.0,7.587500e+04,34.0,896.940,892.140,4.800
4,0.25% ACET,10.0,1.906000e+05,70.5,2667.295,2667.295,0.000

In [16]:
#Group by product name
min_product_df = grouped_product_df.groupby(['product_name']).min(numeric_only=True)


#Reset index
min_product_df = min_product_df.reset_index() #(col_level=0,names='product_name')

#View information of dataframe
min_product_df.head()

,product_name,package_size,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
0,.12% CHLOR,32,1.980198e+07,38694.0,520255.17,519649.01,562.98
1,0.12% CHLO,34,3.534400e+04,278.0,3276.44,3221.91,0.00
2,0.15% KCL,0,6.483420e+05,513.0,43506.65,2379.12,41127.53
3,0.25 ACETI,4,7.355000e+04,30.0,871.58,861.98,0.00
4,0.25% ACET,10,1.415000e+05,52.0,1876.10,1876.10,0.00

In [17]:
#Group by product name
max_product_df = grouped_product_df.groupby(['product_name']).max()


#Reset index
max_product_df = max_product_df.reset_index() #(col_level=0,names='product_name')

#View information of dataframe
max_product_df.head()

,product_name,package_size,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non-medicaid Amount Reimbursed
0,.12% CHLOR,32,2.128338e+07,42975.0,572144.33,571581.35,606.16
1,0.12% CHLO,38,3.943900e+04,284.0,10591.91,3276.44,7370.00
2,0.15% KCL,0,1.308382e+06,838.0,61254.36,5052.14,56202.22
3,0.25 ACETI,4,7.820000e+04,38.0,922.30,922.30,9.60
4,0.25% ACET,10,2.397000e+05,89.0,3458.49,3458.49,0.00

In [24]:
product_units_df = pd.DataFrame({
    'product_name': product_list,
    'AVG Units Reimbursed' : avg_product_df['Units Reimbursed'],
    'MIN Units Reimbursed' : min_product_df['Units Reimbursed'],
    'MAX Units Reimbursed' : max_product_df['Units Reimbursed'],
    'SUM Units Reimbursed' : group_product_df['Units Reimbursed']
})

#Save dataframe as csv
name = 'Product_Metrics_2023'
group_product_df.to_json(f'/Users/leslieleiva/Documents/GitHub/Medicaid-Drug-Rebate-Program/Jupyter Output/{name}.json',
                           orient='columns'
                           #index=True
                           )

product_units_df.head()

,product_name,AVG Units Reimbursed,MIN Units Reimbursed,MAX Units Reimbursed,SUM Units Reimbursed
0,.12% CHLOR,2.054268e+07,1.980198e+07,2.128338e+07,41085359.59
1,0.12% CHLO,3.739150e+04,3.534400e+04,3.943900e+04,74783.00
2,0.15% KCL,9.783620e+05,6.483420e+05,1.308382e+06,1956724.00
3,0.25 ACETI,7.587500e+04,7.355000e+04,7.820000e+04,151750.00
4,0.25% ACET,1.906000e+05,1.415000e+05,2.397000e+05,381200.00